<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dienthoaigiare</title>
    <link
      rel="stylesheet"
      href="../../font/fontawesome-free-6.7.2-web/fontawesome-free-6.7.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/user/home.css" />
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div class="menu">
        <li><a href="">TRANG CHỦ </a></li>
        <li>
          <a href="">ĐIỆN THOẠI </a>
          <ul class="sub-menumenu">
            <li><a href="">Hàng mới về</a></li>
            <li>
              <a href="">Iphone</a>
              <ul>
                <li>iphone 16</li>
                <li>iphone 15</li>
                <li>iphone 14</li>
                <li>iphone 13</li>
                <li>iphone 12</li>
              </ul>
            </li>
            <li><a href="">oppo </a></li>
            <li><a href="">realme </a></li>
            <li><a href="">samsung </a></li>
            <li><a href="">vivoy </a></li>
            <li><a href="">xiaomi </a></li>
          </ul>
        </li>
        <li><a href="">LIÊN HỆ </a></li>
        <li><a href="">GIỚI THIỆU </a></li>
        <li><a href="">GIỎ HÀNG </a></li>
      </div>
      <div class="others">
        <li>
          <input placeholder="Tìm kiếm" type="text" /><i
            class="fas fa-search"
          ></i>
        </li>
        <li><a class="fa fa-user" href=""></a></li>
      </div>
    </header>
  </body>
</html>
