<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Điện thoại giá rẽ</title>
    <link
      rel="stylesheet"
      href="../../font/fontawesome-free-6.7.2-web/fontawesome-free-6.7.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/user/home.css" />
  </head>
  <body>
    <section class="top">
      <div class="container">
        <div class="row">
          <div class="top-logo">
            <img src="" alt="" />
          </div>
          <div class="top-menu-items">
            <ul>
              <li>
                <a href="">iPhone</a>
                <ul class="top-menu-item">
                  <li><a href="">iPhone 16</a></li>
                  <li><a href="">iPhone 16 plus</a></li>
                  <li><a href="">iPhone 16 pro</a></li>
                  <li><a href="">iPhone 16 pro max</a></li>
                  <li><a href="">iPhone 15</a></li>
                  <li><a href="">iPhone 15 plus</a></li>
                  <li><a href="">iPhone 15 pro max</a></li>
                  <li><a href="">iPhone 14</a></li>
                  <li><a href="">iPhone 14 Plus</a></li>
                  <li><a href="">iPhone 13</a></li>
                  <li><a href="">iPhone 12</a></li>
                  <li><a href="">iPhone 11</a></li>
                </ul>
              </li>
              <li>
                <a href="">watch </a>
                <ul class="top-menu-item">
                  <li><a href="">Apple Watch S10 </a></li>
                  <li><a href="">Apple Watch Ultra </a></li>
                  <li><a href="">Apple Watch S9S9 </a></li>
                  <li><a href="">Apple Watch SE </a></li>
                </ul>
              </li>
              <li>
                <a href="">iPad</a>
                <ul class="top-menu-item">
                  <li><a href="">iPad mini 6</a></li>
                  <li><a href="">iPad mini 7</a></li>
                  <li><a href="">iPad pro M4</a></li>
                  <li><a href="">iPad Air 6 M2</a></li>
                  <li><a href="">iPad Gen 10</a></li>
                  <li><a href="">iPad Gen 9</a></li>
                </ul>
              </li>
              <li>
                <a href="">Điện Thoại</a>
                <ul class="top-menu-item">
                  <li><a href="">Nokia HDM 105 4G</a></li>
                  <li><a href="">Nokia 105 4G Pro</a></li>
                  <li><a href="">Nokia 110 4G Pro</a></li>
                  <li><a href="">Nokia 220 4G</a></li>
                  <li><a href="">Nokia 3210 4G</a></li>
                  <li><a href="">Itel it9211</a></li>
                  <li><a href="">Itel it9310</a></li>
                  <li><a href="">Itel it2600</a></li>
                  <li><a href="">Itel it8010</a></li>
                </ul>
              </li>
              <li>
                <a href="">SamSung </a>
                <ul class="top-menu-item">
                  <li><a href="">Galaxy Z Fold6</a></li>
                  <li><a href="">Galaxy Z Flip6</a></li>
                  <li><a href="">Galaxy S24 FE </a></li>
                  <li><a href="">Galaxy S24 Ultra </a></li>
                  <li><a href="">Galaxy S24 Plus</a></li>
                  <li><a href="">Galaxy S24</a></li>
                  <li><a href="">Galaxy A16 </a></li>
                  <li><a href="">Galaxy A06 </a></li>
                  <li><a href="">Galaxy A05</a></li>
                  <li><a href="">Galaxy A15</a></li>
                  <li><a href="">Galaxy A35</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-menu-icons">
            <ul>
              <li>
                <input placeholder="Bạn cần tìm gì" type="text" /><i
                  class="fas fa-search"
                ></i>
              </li>
              <li><a class="fa fa-user" href=""></a></li>
              <li><a class="fa-solid fa-cart-shopping" href=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------------SLIDER-------------------- -->
    <section class="sliders">
      <div class="aspect-ratio-169">
        <img src="../../img/sile/tra-gop-0d-241216045145.webp" />
        <img src="../../img/sile/slide-iphone.jpg" />
        <img src="../../img/sile/slide-ipad.png" />
        <img src="../../img/sile/slide-samsung.png" />
        <img src="../../img/sile/slide-dep.png" />
      </div>
      <div class="dot-container">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </section>
    <!-- ------------------FOOTER------------------- -->
    <section class="footer">
      <div class="footer-container">
        <p>Tải ứng dụng tại</p>
        <div class="app-goole">
          <img src="../../img/sile/appstore.png" />
          <img src="../../img/sile/googleplay.png" />
        </div>
        <p>nhận thông tin của điện thoại giá rẽ</p>
        <div class="input-email">
          <input type="text" placeholder="Nhập email của bạn" />
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="footer-items">
          <li>
            <a href=""
              ><img src="../../img/sile/img-congthuong.png" alt=""
            /></a>
          </li>
          <li><a href="">Liên Hệ</a></li>
          <li><a href="">Tuyển Dụng </a></li>
          <li><a href="">Giới Thiệu</a></li>
          <li>
            <a
              href="https://www.facebook.com/anhnguyet.lethi.3745"
              class="fab fa-facebook-f"
            ></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-youtube"></a>
          </li>
        </div>
        <div class="footer-text">
          Công ty TNHH Minh Tuấn Mobile - GPĐKKD: 0316579658 do sở KH & ĐT TP.
          HCM cấp ngày 09/11/2020. <br />Địa chỉ: 135/1/8 Nguyễn Hữu Cảnh,
          Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam. Điện
          thoại: 0832028447
        </div>
        <div class="footer-bottom">©IVYmoda All rights reserved</div>
      </div>
    </section>
    <script type="module" src="../../js/slider.js"></script>
    <script type="module" src="../../js/crip.js"></script>
  </body>
</html>
