<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Điện thoại giá rẽ</title>
    <link
      rel="stylesheet"
      href="../../font/fontawesome-free-6.7.2-web/fontawesome-free-6.7.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/user/home.css" />
   <link rel="stylesheet" href="../../css/user/payment.css">
  <body>
    <section class="top">
      <div class="container">
        <div class="row">
          <div class="top-logo">
            <img src="" alt="" />
          </div>
          <div class="top-menu-items">
            <ul>
              <li>
                <a href="">iPhone</a>
                <ul class="top-menu-item">
                  <li><a href="">iPhone 16</a></li>
                  <li><a href="">iPhone 16 plus</a></li>
                  <li><a href="">iPhone 16 pro</a></li>
                  <li><a href="">iPhone 16 pro max</a></li>
                  <li><a href="">iPhone 15</a></li>
                  <li><a href="">iPhone 15 plus</a></li>
                  <li><a href="">iPhone 15 pro max</a></li>
                  <li><a href="">iPhone 14</a></li>
                  <li><a href="">iPhone 14 Plus</a></li>
                  <li><a href="">iPhone 13</a></li>
                  <li><a href="">iPhone 12</a></li>
                  <li><a href="">iPhone 11</a></li>
                </ul>
              </li>
              <li>
                <a href="">watch </a>
                <ul class="top-menu-item">
                  <li><a href="">Apple Watch S10 </a></li>
                  <li><a href="">Apple Watch Ultra </a></li>
                  <li><a href="">Apple Watch S9S9 </a></li>
                  <li><a href="">Apple Watch SE </a></li>
                </ul>
              </li>
              <li>
                <a href="">iPad</a>
                <ul class="top-menu-item">
                  <li><a href="">iPad mini 6</a></li>
                  <li><a href="">iPad mini 7</a></li>
                  <li><a href="">iPad pro M4</a></li>
                  <li><a href="">iPad Air 6 M2</a></li>
                  <li><a href="">iPad Gen 10</a></li>
                  <li><a href="">iPad Gen 9</a></li>
                </ul>
              </li>
              <li>
                <a href="">Điện Thoại</a>
                <ul class="top-menu-item">
                  <li><a href="">Nokia HDM 105 4G</a></li>
                  <li><a href="">Nokia 105 4G Pro</a></li>
                  <li><a href="">Nokia 110 4G Pro</a></li>
                  <li><a href="">Nokia 220 4G</a></li>
                  <li><a href="">Nokia 3210 4G</a></li>
                  <li><a href="">Itel it9211</a></li>
                  <li><a href="">Itel it9310</a></li>
                  <li><a href="">Itel it2600</a></li>
                  <li><a href="">Itel it8010</a></li>
                </ul>
              </li>
              <li>
                <a href="">SamSung </a>
                <ul class="top-menu-item">
                  <li><a href="">Galaxy Z Fold6</a></li>
                  <li><a href="">Galaxy Z Flip6</a></li>
                  <li><a href="">Galaxy S24 FE </a></li>
                  <li><a href="">Galaxy S24 Ultra </a></li>
                  <li><a href="">Galaxy S24 Plus</a></li>
                  <li><a href="">Galaxy S24</a></li>
                  <li><a href="">Galaxy A16 </a></li>
                  <li><a href="">Galaxy A06 </a></li>
                  <li><a href="">Galaxy A05</a></li>
                  <li><a href="">Galaxy A15</a></li>
                  <li><a href="">Galaxy A35</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-menu-icons">
            <ul>
              <li>
                <input placeholder="Bạn cần tìm gì" type="text" /><i
                  class="fas fa-search"
                ></i>
              </li>
              <li><a class="fa fa-user" href=""></a></li>
              <li><a class="fa-solid fa-cart-shopping" href=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- -------------------CUSTOMER-INFO----------- -->
    <section class="payment">
      <div class="containers">
        <div class="header">
          <a href="home.html "> Trang chủ </a>
          /
          <a href=""> Đơn hàng của bạn</a>
        </div>
        <div class="steps">
          <div>
            <i class="fas fa-shopping-cart"> </i>
            <p>Kiểm tra giỏ hàng</p>
          </div>
          <div>
            <i class="fas fa-info-circle"> </i>
            <p>Thông tin mua hàng</p>
          </div>
          <div class="active">
            <i class="fas fa-credit-card"> </i>
            <p>Hình thức thanh toán</p>
          </div>
          <div>
            <i class="fas fa-check-circle"> </i>
            <p>Đặt hàng thành công</p>
          </div>
        </div>
        <div class="section">
            <div class="section-header">
             <i class="fas fa-file-alt">
             </i>
             <span>
              Thông tin đơn hàng
             </span>
            </div>
            <div class="section-content">
             <p>
              Tổng tiền sản phẩm: 32,790,000đ
             </p>
             <p>
              Phí vận chuyển: Free Ship (Miễn phí cho toàn bộ đơn hàng)
             </p>
             <div class="highlight">
              <p>
               Quà tặng:
              </p>
              <ul>
               <li>
                Giảm 50% giá mua sản phẩm iPhone XS Series
               </li>
               <li>
                Trả góp 0% lãi suất
               </li>
               <li>
                Giảm thêm 5% khi thanh toán qua thẻ Visa, Master, ATM / QR Ngân hàng, Ví điện tử, áp dụng cho đơn hàng từ 5 triệu đồng
               </li>
               <li>
                Giảm 250K khi mua kèm Apple Watch S3
               </li>
              </ul>
             </div>
             <p>
              Tổng tiền thanh toán: 32,790,000đ
             </p>
            </div>
           </div>
           <div class="section">
            <div class="section-header">
             <i class="fas fa-user">
             </i>
             <span>
              Thông tin khách hàng
             </span>
            </div>
            <div class="section-content">
             <p>
              Người nhận: Nguyễn Thanh Qui
             </p>
             <p>
              Số điện thoại: 0789000488
             </p>
             <p>
              Email: ntt@gmail.com
             </p>
             <p>
              Địa chỉ: 44 Tân Hưng, Quảng Trị
             </p>
            </div>
           </div>
           <div class="section">
            <div class="section-header">
             <i class="fas fa-credit-card">
             </i>
             <span>
              Hình thức thanh toán
             </span>
            </div>
            <div class="section-content">
             <ul class="payment-methods">
              <li>
               <i class="fas fa-university">
               </i>
               <span>
                Chuyển khoản ngân hàng
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <i class="fas fa-money-bill-wave">
               </i>
               <span>
                Thanh toán khi nhận hàng
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <i class="fas fa-credit-card">
               </i>
               <span>
                Thanh toán trực tuyến bằng Visa, Master, ATM / QR Ngân hàng, Ví
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="ShopeePay logo" height="20" src="https://storage.googleapis.com/a1aa/image/TJfc7pMcORyYHKJ00Mr7wbfJEMh8KKrx733rOgJu2BlV1fOoA.jpg" width="20"/>
               <span>
                Thanh toán trực tuyến bằng ShopeePay
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="MOMO logo" height="20" src="https://storage.googleapis.com/a1aa/image/GryIdZyCjj48NpGpzpdaZsu6RASyPEyYy8ZvI41Efx8n6vDKA.jpg" width="20"/>
               <span>
                Thanh toán trực tuyến bằng MOMO
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="ZaloPay logo" height="20" src="https://storage.googleapis.com/a1aa/image/rUPt2Ys12eVTGipnV84tW0e1ufo5MCzAh4Bgu5ECd1eFVf7gC.jpg" width="20"/>
               <span>
                Thanh toán trực tuyến bằng ZaloPay
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="BảoKim logo" height="20" src="https://storage.googleapis.com/a1aa/image/ippIVsuCbGrgEVbVLYbEzfBGIHtSGBS7z1e7JTNTmO7T1fOoA.jpg" width="20"/>
               <span>
                Thanh toán trực tuyến bằng BảoKim
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="Apple Pay logo" height="20" src="https://storage.googleapis.com/a1aa/image/Z3poZJMUlEouEFyM51El4RnRj26LRIXTHF2Ihg0S0juU93BF.jpg" width="20"/>
               <span>
                Thanh toán bằng Apple Pay
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="Kredivo logo" height="20" src="https://storage.googleapis.com/a1aa/image/v42xnmu0F2I7EFQmTiEc1OgJsXbSo8xVOB5bTyAkgakT93BF.jpg" width="20"/>
               <span>
                Thanh toán bằng Kredivo
               </span>
               <input name="payment-method" type="radio"/>
              </li>
              <li>
               <img alt="VNPay logo" height="20" src="https://storage.googleapis.com/a1aa/image/uvVIaYAJffkjqUlaAVqdbIhwZoFL4DzQaUXYkA5fpmNtqfdQB.jpg" width="20"/>
               <span>
                Thanh toán trực tuyến bằng VNPay
               </span>
               <input name="payment-method" type="radio"/>
              </li>
             </ul>
            </div>
      </div>
    </section>
    <!-- ------------------FOOTER------------------- -->
    <section class="footer">
      <div class="footer-container">
        <p>Tải ứng dụng tại</p>
        <div class="app-goole">
          <img src="../../img/sile/appstore.png" />
          <img src="../../img/sile/googleplay.png" />
        </div>
        <p>nhận thông tin của điện thoại giá rẽ</p>
        <div class="input-email">
          <input type="text" placeholder="Nhập email của bạn" />
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="footer-items">
          <li>
            <a href=""
              ><img src="../../img/sile/img-congthuong.png" alt=""
            /></a>
          </li>
          <li><a href="">Liên Hệ</a></li>
          <li><a href="">Tuyển Dụng </a></li>
          <li><a href="">Giới Thiệu</a></li>
          <li>
            <a
              href="https://www.facebook.com/anhnguyet.lethi.3745"
              class="fab fa-facebook-f"
            ></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-youtube"></a>
          </li>
        </div>
        <div class="footer-text">
          Công ty TNHH Minh Tuấn Mobile - GPĐKKD: 0316579658 do sở KH & ĐT TP.
          HCM cấp ngày 09/11/2020. <br />Địa chỉ: 135/1/8 Nguyễn Hữu Cảnh,
          Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam. Điện
          thoại: 0832028447
        </div>
        <div class="footer-bottom">©IVYmoda All rights reserved</div>
      </div>
    </section>
  </body>
</html>
