<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Điện thoại giá rẽ</title>
    <link
      rel="stylesheet"
      href="../../font/fontawesome-free-6.7.2-web/fontawesome-free-6.7.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/user/home.css" />
  </head>
  <body>
    <section class="top">
      <div class="container">
        <div class="row">
          <div class="top-logo">
            <img src="" alt="" />
          </div>
          <div class="top-menu-items">
            <ul>
              <li>
                <a href="">iPhone</a>
                <ul class="top-menu-item">
                  <li><a href="">iPhone 16</a></li>
                  <li><a href="">iPhone 16 plus</a></li>
                  <li><a href="">iPhone 16 pro</a></li>
                  <li><a href="">iPhone 16 pro max</a></li>
                  <li><a href="">iPhone 15</a></li>
                  <li><a href="">iPhone 15 plus</a></li>
                  <li><a href="">iPhone 15 pro max</a></li>
                  <li><a href="">iPhone 14</a></li>
                  <li><a href="">iPhone 14 Plus</a></li>
                  <li><a href="">iPhone 13</a></li>
                  <li><a href="">iPhone 12</a></li>
                  <li><a href="">iPhone 11</a></li>
                </ul>
              </li>
              <li>
                <a href="">watch </a>
                <ul class="top-menu-item">
                  <li><a href="">Apple Watch S10 </a></li>
                  <li><a href="">Apple Watch Ultra </a></li>
                  <li><a href="">Apple Watch S9S9 </a></li>
                  <li><a href="">Apple Watch SE </a></li>
                </ul>
              </li>
              <li>
                <a href="">iPad</a>
                <ul class="top-menu-item">
                  <li><a href="">iPad mini 6</a></li>
                  <li><a href="">iPad mini 7</a></li>
                  <li><a href="">iPad pro M4</a></li>
                  <li><a href="">iPad Air 6 M2</a></li>
                  <li><a href="">iPad Gen 10</a></li>
                  <li><a href="">iPad Gen 9</a></li>
                </ul>
              </li>
              <li>
                <a href="">Điện Thoại</a>
                <ul class="top-menu-item">
                  <li><a href="">Nokia HDM 105 4G</a></li>
                  <li><a href="">Nokia 105 4G Pro</a></li>
                  <li><a href="">Nokia 110 4G Pro</a></li>
                  <li><a href="">Nokia 220 4G</a></li>
                  <li><a href="">Nokia 3210 4G</a></li>
                  <li><a href="">Itel it9211</a></li>
                  <li><a href="">Itel it9310</a></li>
                  <li><a href="">Itel it2600</a></li>
                  <li><a href="">Itel it8010</a></li>
                </ul>
              </li>
              <li>
                <a href="">SamSung </a>
                <ul class="top-menu-item">
                  <li><a href="">Galaxy Z Fold6</a></li>
                  <li><a href="">Galaxy Z Flip6</a></li>
                  <li><a href="">Galaxy S24 FE </a></li>
                  <li><a href="">Galaxy S24 Ultra </a></li>
                  <li><a href="">Galaxy S24 Plus</a></li>
                  <li><a href="">Galaxy S24</a></li>
                  <li><a href="">Galaxy A16 </a></li>
                  <li><a href="">Galaxy A06 </a></li>
                  <li><a href="">Galaxy A05</a></li>
                  <li><a href="">Galaxy A15</a></li>
                  <li><a href="">Galaxy A35</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-menu-icons">
            <ul>
              <li>
                <input placeholder="Bạn cần tìm gì" type="text" /><i
                  class="fas fa-search"
                ></i>
              </li>
              <li><a class="fa fa-user" href=""></a></li>
              <li><a class="fa-solid fa-cart-shopping" href=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ---------------PRODUCT--------------- -->
    <section class="product">
      <div class="container">
        <div class="product-top row">
          <p>Trang chủ</p>
          <span>&#10230; </span>
          <p>iPhone</p>
          <span>&#10230;</span>
          <p>iPhone 16 Series</p>
          <span>&#10230;</span>
        </div>
        <div class="product-content row">
          <div class="product-content-left row">
            <div class="product-content-left-big-img">
              <img src="../../img/Uploads/iphone-16-pro-max.png" alt="" />
            </div>
            <div class="product-content-left-small-img">
              <img src="../../img/Uploads/iphone-16-pro-max.png" alt="" />
              <img src="../../img/Uploads/iphone-16-pro.png" alt="" />
              <img src="../../img/Uploads/iphone-16.png" alt="" />
              <img src="../../img/Uploads/iphone-16-plus.png" alt="" />
            </div>
          </div>
          <div class="product-content-right">
            <div class="product-content-right-product-name">
              <h1>iPhone 16 Pro Max 256GB - Chính hãng VN/A</h1>
            </div>
            <div class="product-content-right-product-price">
              <p>32,290,000 đ</p>
            </div>
            <div class="product-content-right-product-color">
              <p>
                <span style="font-weight: bold">Màu sắc</span>:Titan xa mạc
                <span style="color: red">*</span>
              </p>
              <div class="product-content-right-product-color-">
                <img src="../../img/sile/050.png" alt="" />
              </div>
            </div>
            <div class="product-content-right-product-size">
              <p style="font-weight: bold">Bộ nhớ:</p>
              <div class="size">
                <span>256GB</span>
                <span>512GB</span>
                <span>1TB</span>
              </div>
            </div>
            <div class="quantity">
              <p style="font-weight: bold">Số Lượng:</p>
              <input type="number" min="0" value="1" />
            </div>
            <p style="color: red">Vui lòng chọn bộ nhớ</p>

            <div class="product-content-right-product-button">
              <button>
                <i class="fas fa-shopping-cart"></i>
                <p>mua hàng</p>
              </button>
              <button><p>Tìm tại cửa hàng</p></button>
            </div>
            <div class="product-content-right-product-icon">
              <div class="product-content-right-product-icon-item">
                <i class="fas fa-phone-alt"></i>
                <p>Hotline</p>
              </div>
              <div class="product-content-right-product-icon-item">
                <i class="fas fa-comments"></i>
                <p>Chat</p>
              </div>
              <div class="product-content-right-product-icon-item">
                <i class="fas fa-envelope"></i>
                <p>Mail</p>
              </div>
            </div>
            <div class="product-content-right-bottom">
              <div class="product-content-right-bottom-top">&#8744;</div>
              <div class="product-content-right-bottom-content-big">
                <div class="product-content-right-bottom-content-title row">
                  <div
                    class="product-content-right-bottom-content-title-item chitiet"
                  >
                    <p>Thông số kỹ thuật</p>
                  </div>
                  <div
                    class="product-content-right-bottom-content-title-item baohanh"
                  >
                    <p>Bảo Hành</p>
                  </div>
                  <div class="product-content-right-bottom-content-title-item">
                    <p>Tham khảo</p>
                  </div>
                </div>
                <div class="product-content-right-bottom-content">
                  <div class="content">
                    <table>
                      <tr>
                        <th>Model</th>
                        <td>iPhone 16 128GB</td>
                      </tr>
                      <tr>
                        <th>Màu</th>
                        <td>
                          Xanh Mòng Két<br />
                          Hồng<br />
                          Đen<br />
                          Xanh Lưu Ly<br />
                          Trắng
                        </td>
                      </tr>
                      <tr>
                        <th>Dung lượng lưu trữ</th>
                        <td>128GB</td>
                      </tr>
                      <tr>
                        <th>Trọng lượng</th>
                        <td>170 gram</td>
                      </tr>
                      <tr>
                        <th>Kích thước</th>
                        <td>147,6 mm x 71,6 mm x 7,80 mm</td>
                      </tr>
                      <tr>
                        <th>Màn hình</th>
                        <td>
                          Màn hình Super Retina XDR<br />
                          Màn hình toàn phần <span class="red">OLED</span> 6,1
                          inch (theo đường chéo)<br />
                          Độ phân giải 2556x1179 pixel với mật độ điểm ảnh 460
                          ppi<br />
                          <span class="red">Dynamic Island</span><br />
                          Màn hình HDR<br />
                          <span class="red">True Tone</span><br />
                          Dải màu rộng (P3)<br />
                          Haptic Touch<br />
                          Tỷ lệ tương phản 2.000.000:1 (tiêu chuẩn)<br />
                          Độ sáng tối đa 1000 nit (tiêu chuẩn); độ sáng đỉnh
                          1600 nit (HDR); độ sáng đỉnh 2000 nit (ngoài trời); độ
                          sáng tối thiểu 1 nit<br />
                          Lớp phủ kháng dầu chống in dấu vân tay<br />
                          Hỗ trợ hiển thị đồng thời nhiều ngôn ngữ và ký tự
                        </td>
                      </tr>
                      <tr>
                        <th>Kháng nước, bụi</th>
                        <td>Đạt mức <span class="red">IP68</span></td>
                      </tr>
                      <tr>
                        <th>Chip</th>
                        <td>
                          Chip A18<br />
                          CPU 6 lõi mới với 2 lõi hiệu năng và 4 lõi tiết kiệm
                          điện<br />
                          GPU 5 lõi mới<br />
                          Neural Engine 16 lõi mới
                        </td>
                      </tr>
                      <tr>
                        <th>Camera</th>
                        <td>
                          Fusion 48MP: 26 mm, khẩu độ ƒ/1.6, chống rung quang
                          học dịch chuyển cảm biến, Focus Pixels 100%, hỗ trợ
                          ảnh có độ phân giải siêu cao (24MP và 48MP)<br />
                          Đồng thời hỗ trợ Telephoto 2x 12MP: 52 mm, khẩu độ
                          ƒ/1.6, chống rung quang học dịch chuyển cảm biến,
                          Focus Pixels 100%<br />
                          Ultra Wide 12MP: 13 mm, khẩu độ ƒ/2.2 và trường ảnh
                          120°, Focus Pixels 100%<br />
                          Độ phóng đại quang học 2x, độ thu nhỏ quang học 2x;
                          phạm vi thu phóng quang học 4x<br />
                          Độ thu phóng kỹ thuật số lên đến 10x<br />
                          Điều Khiển Camera<br />
                          Lớp bảo vệ ống kính bằng sapphire<br />
                          Flash True Tone<br />
                          Photonic Engine<br />
                          Deep Fusion<br />
                          HDR thông minh thế hệ 5<br />
                          Ảnh chân dung thế hệ mới với tính năng Lấy Nét và Điều
                          Khiển Chiều Sâu<br />
                          Hiệu ứng Chiếu Sáng Chân Dung với sáu chế độ<br />
                          Chế độ Ban Đêm<br />
                          Chụp ảnh toàn cảnh Panorama (lên đến 63MP)<br />
                          Phong Cách Nhiếp Ảnh thế hệ mới nhất<br />
                          Ảnh không gian<br />
                          Chụp ảnh macro<br />
                          Chụp hình dải màu rộng cho ảnh và ảnh động Live
                          Photos<br />
                          Hiệu chỉnh ống kính (Ultra Wide)<br />
                          Hiệu chỉnh mắt đỏ nâng cao<br />
                          Tự động chống rung hình ảnh<br />
                          Chế độ Chụp Liên Tục<br />
                          Định vị ảnh<br />
                          Định dạng của hình ảnh được chụp: HEIF và JPEG
                        </td>
                      </tr>
                      <tr>
                        <th>Quay video</th>
                        <td>
                          Quay video 4K Dolby Vision ở tốc độ 24 fps, 25 fps, 30
                          fps, hoặc 60 fps<br />
                          Quay video 1080p Dolby Vision ở tốc độ 25 fps, 30 fps,
                          hoặc 60 fps<br />
                          Quay video 720p Dolby Vision ở tốc độ 30 fps<br />
                          Chế độ Điện Ảnh hỗ trợ độ phân giải lên đến 4K HDR ở
                          tốc độ 30 fps<br />
                          Chế độ Hành Động hỗ trợ độ phân giải lên đến 2,8K ở
                          tốc độ 60 fps<br />
                          Quay video macro, bao gồm chế độ quay chậm và tua
                          nhanh<br />
                          Hỗ trợ quay video chậm 1080p ở tốc độ 120 fps hoặc 240
                          fps<br />
                          Quay video không gian 1080p ở tốc độ 30 fps<br />
                          Video tua nhanh có chống rung<br />
                          Tua nhanh ở chế độ Ban Đêm<br />
                          Quay video QuickTake lên đến 4K ở tốc độ 60 fps chất
                          lượng Dolby Vision<br />
                          Chống rung quang học dịch chuyển cảm biến cho video
                          (Fusion)<br />
                          Độ thu phóng kỹ thuật số lên đến 6x<br />
                          Phóng đại âm thanh<br />
                          Flash True Tone<br />
                          Chống rung video kỹ thuật số (4K, 1080p, và 720p)<br />
                          Video tự động lấy nét liên tiếp<br />
                          Chụp ảnh tĩnh 8MP trong khi quay video 4K<br />
                          Thu phóng khi xem<br />
                          Định dạng của video được quay: HEVC và H.264<br />
                          Âm Thanh Không Gian và thu âm stereo<br />
                          Giảm tiếng gió<br />
                          Hòa Âm
                        </td>
                      </tr>
                      <tr>
                        <th>Camera TrueDepth</th>
                        <td>
                          Camera 12MP<br />
                          Khẩu độ ƒ/1.9<br />
                          Tự động lấy nét theo pha Focus Pixels<br />
                          Flash Retina<br />
                          Photonic Engine<br />
                          Deep Fusion<br />
                          HDR thông minh thế hệ 5<br />
                          Ảnh chân dung thế hệ mới với tính năng Lấy Nét và Điều
                          Khiển Chiều Sâu<br />
                          Hiệu ứng Chiếu Sáng Chân Dung với sáu chế độ<br />
                          Animoji và Memoji<br />
                          Chế độ Ban Đêm<br />
                          Phong Cách Nhiếp Ảnh thế hệ mới nhất<br />
                          Chụp hình dải màu rộng cho ảnh và ảnh động Live
                          Photos<br />
                          Hiệu chỉnh ống kính<br />
                          Tự động chống rung hình ảnh<br />
                          Chế độ Chụp Liên Tục<br />
                          Quay video 4K Dolby Vision ở tốc độ 24 fps, 25 fps, 30
                          fps, hoặc 60 fps<br />
                          Quay video 1080p Dolby Vision ở tốc độ 25 fps, 30 fps,
                          hoặc 60 fps<br />
                          Chế độ Điện Ảnh hỗ trợ độ phân giải lên đến 4K Dolby
                          Vision ở tốc độ 30 fps<br />
                          Hỗ trợ quay video chậm 1080p ở tốc độ 120 fps<br />
                          Video tua nhanh có chống rung<br />
                          Tua nhanh ở chế độ Ban Đêm<br />
                          Quay video QuickTake lên đến 4K ở tốc độ 60 fps chất
                          lượng Dolby Vision<br />
                          Chống rung video kỹ thuật số (4K, 1080p, và 720p)<br />
                          Âm Thanh Không Gian và thu âm stereo
                        </td>
                      </tr>
                      <tr>
                        <th>Face ID</th>
                        <td>Camera TrueDepth hỗ trợ nhận diện khuôn mặt</td>
                      </tr>
                      <tr>
                        <th>Công nghệ</th>
                        <td>
                          Các định dạng được hỗ trợ bao gồm AAC, APAC, MP3,
                          Apple Lossless, FLAC, Dolby Digital, Dolby Digital
                          Plus, và Dolby Atmos<br />
                          Chế độ Âm Thanh Không Gian<br />
                          Giới hạn âm lượng tối đa do người dùng quyết định
                        </td>
                      </tr>
                      <tr>
                        <th>Sạc và kết nối</th>
                        <td>
                          Cổng kết nối USB‑C hỗ trợ:<br />
                          Sạc<br />
                          DisplayPort<br />
                          USB 2 (lên đến 480Mb/giây)
                        </td>
                      </tr>
                      <tr>
                        <th>Pin và nguồn điện</th>
                        <td>
                          Thời gian xem video: Lên đến 22 giờ<br />
                          Thời gian xem video (trực tuyến): Lên đến 18 giờ<br />
                          Thời gian nghe nhạc: Lên đến 80 giờ<br />
                          Tích hợp pin sạc lithium-ion<br />
                          Sạc không dây MagSafe lên đến 25W với bộ tiếp hợp 30W
                          trở lên<br />
                          Sạc không dây Qi2 lên đến 15W<br />
                          Sạc không dây Qi lên đến 7,5W<br />
                          Khả năng sạc nhanh:<br />
                          Sạc lên đến 50% trong khoảng 30 phút với bộ tiếp hợp
                          20W trở lên sử dụng cáp sạc USB‑C, hoặc với bộ tiếp
                          hợp 30W trở lên sử dụng Bộ Sạc MagSafe (tất cả được
                          bán riêng)
                        </td>
                      </tr>
                      <tr>
                        <th>Hệ điều hành</th>
                        <td>iOS 18</td>
                      </tr>
                      <tr>
                        <th>Thương hiệu</th>
                        <td>Mỹ</td>
                      </tr>
                      <tr>
                        <th>Hãng</th>
                        <td>Apple</td>
                      </tr>
                      <tr>
                        <th>Bảo hành</th>
                        <td>12 tháng chính hãng</td>
                      </tr>
                    </table>
                  </div>
                  <div class="product-content-right-bottom-content-baohanh">
                    <div class="title">BẢO HÀNH CHÍNH HÃNG</div>
                    <div class="divider"></div>
                    <div class="item">
                      <i class="fas fa-check"> </i>
                      Máy mới fullbox 100% - Chưa Active - Chính hãng Apple
                    </div>
                    <div class="item">
                      <i class="fas fa-check"> </i>
                      Được hỗ trợ 1 đổi 1 trong 30 ngày nếu có lỗi từ nhà sản
                      xuất
                    </div>
                    <div class="item">
                      <i class="fas fa-check"> </i>
                      Bảo hành chính hãng Apple 12 tháng
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------------PRODUCT-RELATED-------------- -->
    <section class="product-related container">
      <div class="product-related-title">
        <p>SẢN PHẨM LIÊN QUAN</p>
      </div>
      <div class="product-contant row">
        <div class="product-related-item">
          <img src="../../img/Uploads/iphone-15-pro-max.png" alt="" />
          <h1>iPhone 15 pro max</h1>
          <p>30000000d</p>
        </div>
        <div class="product-related-item">
          <img src="../../img/Uploads/iphone-15-pro-max.png" alt="" />
          <h1>iPhone 15 pro max</h1>
          <p>30000000d</p>
        </div>
        <div class="product-related-item">
          <img src="../../img/Uploads/iphone-15-pro.png" alt="" />
          <h1>iPhone 15 pro max</h1>
          <p>30000000d</p>
        </div>
        <div class="product-related-item">
          <img src="../../img/Uploads/iphone-15.png" alt="" />
          <h1>iPhone 15 pro max</h1>
          <p>30000000d</p>
        </div>
        <div class="product-related-item">
          <img src="../../img/Uploads/iphone-15-plus.png" alt="" />
          <h1>iPhone 15 pro max</h1>
          <p>30000000d</p>
        </div>
      </div>
    </section>

    <!-- ------------------FOOTER------------------- -->
    <section class="footer">
      <div class="footer-container">
        <p>Tải ứng dụng tại</p>
        <div class="app-goole">
          <img src="../../img/sile/appstore.png" />
          <img src="../../img/sile/googleplay.png" />
        </div>
        <p>nhận thông tin của điện thoại giá rẽ</p>
        <div class="input-email">
          <input type="text" placeholder="Nhập email của bạn" />
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="footer-items">
          <li>
            <a href=""
              ><img src="../../img/sile/img-congthuong.png" alt=""
            /></a>
          </li>
          <li><a href="">Liên Hệ</a></li>
          <li><a href="">Tuyển Dụng </a></li>
          <li><a href="">Giới Thiệu</a></li>
          <li>
            <a
              href="https://www.facebook.com/anhnguyet.lethi.3745"
              class="fab fa-facebook-f"
            ></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-youtube"></a>
          </li>
        </div>
        <div class="footer-text">
          Công ty TNHH Minh Tuấn Mobile - GPĐKKD: 0316579658 do sở KH & ĐT TP.
          HCM cấp ngày 09/11/2020. <br />Địa chỉ: 135/1/8 Nguyễn Hữu Cảnh,
          Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam. Điện
          thoại: 0832028447
        </div>
        <div class="footer-bottom">©IVYmoda All rights reserved</div>
      </div>
    </section>
    <script type="module" src="../../js/slider.js"></script>
    <script type="module" src="../../js/crip.js"></script>
  </body>
</html>
